<div *ngIf="reserva" class="forma">
	
		<h2>Detalles de la reserva</h2>
		<div class="hola"><span>Id: </span>{{reserva.id}}</div>
		<div>
		    <label>Lugar: 
		     <input  [(ngModel)]="reserva.lugar" placeholder="lugar" >
		    </label>
		</div>
		<div>
		    <label>Usuario:
		      <input [(ngModel)]="reserva.usuario" placeholder="usuario">
		    </label>
		</div>
		<div>
		    <label>Fecha: 
		      <input [(ngModel)]="reserva.fecha" placeholder="fecha">
		    </label>
		</div>
	
</div>
<br>
<button (click)="goBack()">Retornar</button>