
<nav class="nav-collapse" role="navigation">
    <ul class="tabs primary-nav">
        <li class="tabs__item">
            <a routerLink="/dashboard" class="tabs__link">Anuncios</a>
        </li>
        <li class="tabs__item">
            <a routerLink="/reservas" class="tabs__link">Reservas</a>
        </li>
        <li class="tabs__item">
            <a href="#" class="tabs__link">Pagos</a>
        </li>
        <li class="tabs__item">
            <a href="#" class="tabs__link">Junta directiva</a>
        </li>
    </ul>
</nav>